.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.Form {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
}
form {
  color: #382d2d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  height: fit-content;
  border-radius: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}
p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}
a:hover {
  text-shadow: 2px 2px 6px #00000040;
}

a:active {
  text-shadow: none;
}

input {
  background: transparent;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input[type="email"] {
  margin-top: 10px;
  width: 90%;
  font-size: 1rem;
}
input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}
input:hover {
  cursor: pointer;
}

input:active {
  background: rgba(255, 255, 255, 0.2);
}

/* input:hover {
  margin: 4px;
} */

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.drop {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;
}
.drop:nth-child(1) {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}

.drop:nth-child(2) {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}

.drop:nth-child(3) {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}

.drop:nth-child(4) {
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}

.drop:nth-child(5) {
  height: 60px;
  width: 60px;
  bottom: 170px;
  left: 90px;
  z-index: -1;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.neo {
  border-radius: 30px !important;
}
input[type='checkbox'] {
    width: 1.3em;
    height: 1.3em;
    background-color: rgba(66, 52, 52, 0.075);
    border-radius: 50%;
    vertical-align: top;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }

input[type='checkbox']:checked {
    background-color: rgb(49, 137, 103);
  }
